future ~= 1.0.0
certifi >= 2024.0.0
six ~= 1.17.0
python_dateutil ~= 2.9.0
setuptools ~= 75.0.0
urllib3 ~= 2.6.0
aiohttp ~= 3.13.0
aiolimiter ~= 1.2.1
pyjwt[crypto] ~= 2.12.0
cryptography ~= 44.0.0
pyjwt-key-fetcher ~= 0.8.0
